.ForecastPreview {
  padding-bottom: 10px;
}
.ForecastPreview h3 {
  color: #bababa;
  margin-bottom: 0;
  font-size: 25px;
  font-weight: 500;
}

.ForecastPreview .week-day {
  padding-left: 25px;
  text-align: left;
}
.ForecastPreview .week-temp {
  padding-right: 25px;
  text-align: right;
}
.ForecastPreview .week-icon {
  position: relative;
  right: -67px;
}
.ForecastPreview img {
  width: 50px;
  display: block;
  margin: 0 auto;
  bottom: 10px;
}

.ForecastPreview h3 strong {
  font-weight: 600;
  color: #9b9b9b;
}
