.App .container {
  display: flex;
  margin: 10px auto auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.App .card {
  display: block;
  margin: 0 auto;
  max-width: 450px;
}

.App .hr-2 {
  margin-top: 5px;
  margin-bottom: 10px;
}
