.CurrentWeatherInfo .location,
.CurrentWeatherInfo .weather-stats {
  text-align: right;
}

.CurrentWeatherInfo h2 {
  color: #231816;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 500;
}

.CurrentWeatherInfo ul {
  padding: 0;
  list-style: none;
  color: #bababa;
  font-size: 15px;
}

.CurrentWeatherInfo li strong {
  font-weight: 600;
  color: #231816;
}

.CurrentWeatherInfo li:first-letter {
  text-transform: capitalize;
}

.CurrentWeatherInfo .date-country-row {
  height: 50px;
}
