.Main .loader {
  text-align: center;
  padding-bottom: 10px;
  opacity: 50%;
}
.Main form {
  padding-bottom: 12px;
  font-family: "Rubik", sans-serif;
}
.Main i {
  transition: all 150ms ease;
}
.Main i:hover {
  font-size: larger;
}
.Main .form-row {
  margin: 0;
}
.Main .col-1 {
  padding: 0px;
  border: none;
}
.Main .search-btn {
  color: #b2b2b2;
  margin-left: 10px;
}
.Main .location-btn {
  color: #eb4336;
  margin-left: 10px;
}

.Main .hr-1 {
  margin-top: 20px;
  margin-bottom: 15px;
}
