.App .container {
  margin-top: 40px;
}

.App .card {
  display: block;
  margin: 0 auto;
  max-width: 450px;
}

.App .hr-1 {
  margin-top: 20px;
  margin-bottom: 15px;
}

.App .hr-2 {
  margin-top: 5px;
  margin-bottom: 10px;
}
