.CurrentWeatherInfo .location,
.CurrentWeatherInfo .weather-stats {
  text-align: right;
}

.CurrentWeatherInfo h2 {
  color: #231816;
  font-weight: 500;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.CurrentWeatherInfo ul {
  padding: 0;
  list-style: none;
  color: #bababa;
  font-size: 15px;
  white-space: nowrap;
}

.CurrentWeatherInfo li strong {
  color: #231816;
}

.CurrentWeatherInfo li:first-letter {
  text-transform: capitalize;
}

.CurrentWeatherInfo .date-country-row {
  height: 50px;
}
