.Row1 h2 {
  color: #231816;
  font-weight: 500;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.Row1 .location {
  text-align: right;
}
