.Row2 ul {
  padding: 0;
  list-style: none;
  color: #bababa;
  font-size: 15px;
  white-space: nowrap;
}

.Row2 li:first-letter {
  text-transform: capitalize;
}

.Row2 .location {
  text-align: right;
}
.Row2 .date-country-row {
  height: 50px;
}
