.WeatherInfo h2 {
  color: #231816;
  font-weight: 500;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.WeatherInfo .location,
.WeatherInfo .weather-stats {
  text-align: right;
}

.WeatherInfo ul {
  padding: 0;
  list-style: none;
  color: #bababa;
  font-size: 15px;
  white-space: nowrap;
}

.WeatherInfo li strong {
  color: #231816;
}

.WeatherInfo li:first-letter {
  text-transform: capitalize;
}

.WeatherInfo .location {
  text-align: right;
}

.WeatherInfo .date-country-row {
  height: 50px;
}
