.Weather form {
  padding-bottom: 12px;
}
.Weather i {
  transition: all 150ms ease;
}
.Weather i:hover {
  font-size: larger;
}
.Weather .form-row {
  margin: 0;
}
.Weather .col-1 {
  padding: 0px;
  border: none;
}
.Weather .search-btn {
  color: #b2b2b2;
  margin-left: 10px;
}
.Weather .location-btn {
  color: #eb4336;
  margin-left: 10px;
}

.Weather .hr-1 {
  margin-top: 20px;
  margin-bottom: 15px;
}
